footer {
        position: relative;
        display: flex;
        justify-content: space-between;

        #menu {
            width: 375px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-white;
            padding: .7rem;
            display: flex;
            border-top: 1px solid $color-lightblue;
        }
        nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        #menu a {
            text-decoration: none;
            color: $color-content;
        }

    }
