
$color-black: #000000;
$color-lightblue: #dbe3f5;
$color-content: #626262;
$color-button: #111111;
$color-white: #ffffff;
$color-grey: #b3b9c7;

$color-red: #f4303c;
$color-green: #69864d;
$color-yellow: #ffbe00;
$color-lightred: #ff6262;
$color-blue: #63c7ff;
$color-beige: #f8e7cd;
$color-darkblue: #323858;
$color-purple: #864d7d;
$color-darkyellow: #cfa93f;
